/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: hotpink;(135deg, #ff9a9e, #fad0c4);
    text-align: left;
    color: white;
}
body {
    background-image: url('cat7.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

}

header {
    background: black(0, 0, 0, 0.6);
    padding: 15px;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    padding: 60px;
}

.btn {
    background: black;
    color: #ff6f61;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.gallery-images img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.gallery-images img:hover {
    transform: scale(1.1);
}
